:root {
  --bg-primary-color: #9f1015;
  --bg-secondary-color: #63666b;
  --bg-tertiary-color: #3c3737;
  --bg-menu-color: #fff;
  --font-primary-color: #fff;
  --font-secondary-color: #1E1E1E;
  --font-tertiary-color: #960e12;
  --button-primary-color: #fff;
}
